<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>sample application</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myController as vm">
  <md-toolbar class="md-toolbar-tools" layout="row" layout-align="start center">
    <md-button ng-click="vm.toggleMenu();">
      <md-icon>menu</md-icon>
    </md-button>
    <md-button>
      <md-icon>home</md-icon>
    </md-button>
    <div>
      id: {{vm.current.id}} | name: {{vm.current.name}} | saved: {{vm.current.saved}} | deleted: {{vm.current.deleted}}
    </div>
  </md-toolbar>
  <section>
    <md-sidenav flex class="md-sidenav-left" md-component-id="left" md-whiteframe="4"
      md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
        <md-list>
          <md-list-item ng-repeat="item in vm.all">
            <md-button ng-click="vm.current = item">
              <md-icon>open_in_new</md-icon>

              {{item.id}}
            </md-button>
          </md-list-item>
        </md-list>
      </md-toolbar>
      <md-content layout-padding>
        <md-button ng-click="vm.toggleMenu()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>

    </md-sidenav>
  </section>
  <section>
    <md-content>
      <form name="thispage" layout-padding>
        <span>{{thispage.$dirty}}</span>
        <md-input-container>
          <label for="">name</label>
          <input name="name" type="text" ng-model="vm.current.name">
          <span>{{name.$dirty}}</span>
        </md-input-container>
      </form>
    </md-content>
  </section>
</body>

</html>