<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>sample application</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myController as vm">
  <chart-layout>
    <chart-header>
      <md-toolbar class="md-toolbar-tools">
        <h2>{{vm.encounter.name}}</h2>
      </md-toolbar>
    </chart-header>
    <chart-body>
      <md-content>
        <section ng-repeat="(key, section) in vm.sections">
          <div ng-include src="key" ng-init="data=vm.encounter"></div>
        </section>
      </md-content>
    </chart-body>
  </chart-layout>
  <script type="text/ng-template" id="allergies">
    <p>well I will show the summary items for allergies</p>
    <pre>{{data}}</pre>
    <div>since I know all about your encounter AND your allergies. I can display the for to add/edit/delete allergies</div>
    <form action="" name="allergies">
      <input type="text" ng-model="data.allergies[0]">
      <em>if you add/remove me. it doesn't matter, I'm bound to the parent encounter!</em>
    </form>
  </script>
</body>

</html>